@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    height: 100%;
    width: 100%;
}

/*hero start*/

section.herosection {
    height: 100%;
    width: 100%;
}

.humanimg {
    width: 280px;
}

.herodesc {
    margin-top: 11px;
}

button.contactbut {}

margin-top: 14px;
border: 1.2px solid
}

.contactbut {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

button.contactbut {
    margin-top: 14px;
    background-color: white;
    padding: 8px 21px;
    font-weight: 500;
    color: black;
    font-size: 16px;
    border-radius: 8px;
}

.main-heading-primary {
    display: block;

    animation: moveInLeft 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.main-heading-secondary {

    display: block;

    animation: moveInRight 1s ease-out;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.butcont {
    margin-bottom: 34px;
}

.heroheading :before {
    content: "";
    position: absolute;
    background: #ffe400;
    width: 104px;
    height: 104px;
    z-index: -1;
    left: -20px;
    top: -9px;
    border-radius: 100%;
}

.heroheading {
    position: relative;
    font-size: 2rem;
}

.heroflex {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center
}

.container-hero {
    max-width: 1267px;
    overflow: hidden;
    margin: auto;
}

.rightside {
    width: 50%;
    padding: 7px 25px 7px 52px;
    height: 100%;
}

.leftside {
    width: 50%;
}

.container {
    max-width: 1069px;
    padding: 4px 27px 6px 27px;
    overflow: hidden;
    margin: auto;
}

.humanimg img {
    max-width: 100%;
}

button.contactbut {
    border: 1px solid;
    transition: background-color 0.7s ease, color 0.3s ease;
    cursor: pointer;
}

.butcont :hover {
    background-color: #ffe400;
}

.heroheading h1 {
    font-size: 38px;
    line-height: 1.2;
    font-weight: 900;
}

/*hero end*/

/*navbar*/

nav .navbar .links li :hover {
    color: #ffe400;
}

.bx-menu:before {
    content: "\eac1";
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: #353a40;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}

.navbar .logo a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #3E8DA8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}

.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
}

.navbar .links li .htmlCss-more-sub-menu {}

.navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}

.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .search-box .input-box {
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #3E8DA8;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #3E8DA8;
}

.search-box .input-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #3E8DA8;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}

.search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}

@media (max-width:920px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a {
        font-size: 27px;
    }

    nav .navbar .links li {
        padding: 0 10px;
        white-space: nowrap;
    }

    nav .navbar .links li a {
        font-size: 15px;
    }
}

@media (max-width:800px) {
    nav {
        /* position: relative; */
    }

    .navbar .bx-menu {
        display: block;
    }

    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 100%;
        width: 100%;
        background: #2f3338;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }

    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #fff;
    }

    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        color: #fff;
    }

    i.bx.bx-x {
        border: 1px solid;
    }

    nav .navbar .links {
        display: block;
        margin-top: 20px;
    }

    nav .navbar .links li .arrow {
        line-height: 40px;
    }

    nav .navbar .links li {
        display: block;
    }

    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }

    nav .navbar .links li .sub-menu li {
        border-bottom: none;
    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }

    .navbar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
    }

    .navbar .links li .sub-menu .more span {
        display: flex;
        align-items: center;
    }

    .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }

    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
        display: none;
    }

    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
    }

    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
    }

    .navbar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }
}

@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}

.search-box {
    visibility: hidden;
}

.logo img {
    max-width: 100%;
}

/*navbar over*/


/*about sec*/

section.aboutsection {
    margin-top: 24px;
    height: 100%;
    width: 100%;
    position: relative;
}

.about-wrapper {
    position: relative;
    overflow: hidden;
    align-items: center;
    padding: 60px 20px;
}

.center-head {
    text-align: center;
    padding-top: 44px;
}

.but-flex {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 37px;
}

button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.expe {
    padding: 8px 15px;
    border: navajowhite;
    color: #ffe400;
    background-color: black;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

button.info {
    padding: 8px 36px;
    background-color: #000;
    border: navajowhite;
    height: fit-content;
    color: #ffe400;
}

.center-head {
    text-align: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.abouthead h1 {
    font-size: 80px;
    color: #f0f0f0;
    position: relative;
    z-index: 1;
    margin: 0;
    opacity: 0.3;
}

.abouthead h1::before {
    content: "ABOUT";
    font-size: 200px;
    color: #f0f0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.1;
    white-space: nowrap;
}

.abouttitle h2 {
    font-size: 35px;
    line-height: 1;
    margin: 20px 0;
    color: #333;
    position: relative;
    z-index: 2;
}

.aboutdes p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: 0 auto;
}

.abouttitle ::after {
    content: "ABOUT";
    font-size: 6rem;
    color: gray;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.3;
    white-space: nowrap;
    pointer-events: none;
}

button.info:hover {
    background-color: #ffe400;
    color: white;
    transform: translateY(-3px);
}

button.expe:hover {
    background-color: #ffe400;
    color: white;
    transform: translateY(-3px);
}

.abtcard1 {
    background-color: #000;
    color: white;
    font-weight: 500;
    height: 265px;
    width: 100%;
    display: flex;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.aboutcards {
    padding-top: 34px;
}

.flexcard {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.abtcard1 h3 {
    font-weight: 500;
    font-size: 22px;
    margin-top: 11px;
    font-family: sans-serif;
}

.flex-icon {
    text-align: center;
    margin-bottom: -20px;
    transition: 0.3s ease-in-out;
}

i.ri-star-half-line {
    font-size: 74px;
    transition: 0.3s ease-in-out;
    color: #ffe400;
}

i.ri-earth-fill {
    font-size: 74px;
    color: #ffe400;
}

i.ri-lock-fill {
    font-size: 74px;
    color: #ffe400;
}

.abtcard1:hover {
    background-color: #ffe400;
}

.abtcard1:hover .flex-icon i,
.abtcard1:hover .flex-icon h3 {
    color: #fff;
}

p.hovtext {
    color: black;
    padding: 3px;
}

.abtcard1:hover .hovtext {
    color: #fff;
    margin-top: 6px;
    font-weight: 400;
}

.abtcard1:hover .flex-icon {
    transform: translateY(-43px);
}

.donutabout {
    position: absolute;
    left: -267px;
    top: 357px;
    bottom: 0;
    margin: auto 0;
    width: 486px;
    height: 486px;
    background: transparent;
    border-radius: 50%;
    border: 55px solid #ffe400;
    box-shadow: inset 0 0 0 10px #ffe400;
    z-index: -99 !important;
}

/* Counter section starts here */
.counter-sect {
    margin-top: 40px;
}

.counter-sect h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 28px;
}

.counter-sect .numbers {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.counter-sect .numbers .number-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
}

p.cou {
    color: darkgrey;
}

.counter-sect .numbers .number-boxes p {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.counter-sect .numbers .number-boxes p:first-child {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

/* Counter section Ends here */


/* Container to hold both donut and image */
.leftside {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: auto;
}

/* Donut style */
.donut {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 332px;
    height: 332px;
    background: transparent;
    border-radius: 59%;
    border: 55px solid #ffe400;
    box-shadow: inset 0 0 0 10px #ffe400;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Human image container style */
.humanimg {
    position: relative;
    top: 6px;
    z-index: 2;
}

/* Image style */
.humanimg img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* Media Queries for responsiveness */
@media (max-width: 600px) {}

/*about sec*/

/*image sec*/

#content-item {
    width: 100%;
    overflow: hidden;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#content-item .item {
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background: #000;
    margin-top: 30px;
    position: relative;
}

#content-item .item img {
    width: 100%;
    height: 100%;
    opacity: 0.92;
    transition: transform 0.8s, opacity 0.8s;
    object-fit: cover;
    display: block;
}

#content-item .item:hover img {
    transform: scale(1.1);
    opacity: 1;
}

#content-item .item .caption {
    position: absolute;
    bottom: -50px;
    opacity: 0;
    transition: opacity 0.4s, bottom 0.4s;
}

#content-item .item .caption h2 {
    margin: 0;
    color: #000;
    background-color: #ebe7e8;
    padding: 9px;
    opacity: .8;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

#content-item .item .caption p {
    margin: 0;
    color: #fff;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

#content-item .item:hover .caption {
    opacity: 1;
    bottom: 0px;
    width: 100%
}

.row-bot {
    margin-top: -60px;
}

/*image sec*/

/*service sec*/

.donutser {
    position: absolute;
    left: -321px;
    top: 245px;
    bottom: 0;
    margin: auto 0;
    width: 576px;
    height: 576px;
    border-radius: 50%;
    border: 55px solid #ffe400a3;
    box-shadow: inset 0 0 0 10px #ffe400a3;
    z-index: 9 !important;
}

.servleft-img {
    width: 50%;
}

.servleft-img img {

    max-width: 100%
}

.service-flex {
    display: flex;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-end;
}

.flex1 {
    height: 114px;
    width: 226px;
    padding: 3px 3px 3px 2px;
    z-index: 23;
}

.flex2 {
    height: 114px;
    width: 226px;
    padding: 3px 3px 3px 2px;
    z-index: 23;
}

.flex3 {
    height: 114px;
    z-index: 23;
    width: 226px;
    padding: 3px 3px 3px 2px;
}

.flex4 {
    height: 114px;
    width: 226px;
    padding: 3px 3px 3px 2px;
    z-index: 23;
}

.top-flex-box {
    display: flex;
    justify-content: center;
    margin-bottom: 33px;
    margin-top: 34px;
    gap: 36px;
}

.bottom-flex-box {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    margin-top: 34px;
    gap: 36px;
}

.servright {
    text-align: center;
    width: 50%
}

.servicesec {
    margin-top: 89px;
    height: 100%;
    position: relative;
    width: 100%;
}

.containerser {
    max-width: 1243px;
    padding: 4px 27px 6px 27px;
    overflow: hidden;
    margin: auto;
}

i.ri-settings-2-fill {
    font-size: 28px;
    color: #b8b8b8;
}

i.ri-calendar-line {
    color: #b8b8b8;
    font-size: 28px;
}

i.ri-notification-2-line {
    color: #b8b8b8;
    font-size: 28px;
}

.servright p {
    color: grey;
    margin-top: 6px;
}

i.ri-camera-fill {
    font-size: 28px;
    color: #b8b8b8;
}

.flexboxright h3 {
    margin-top: 3px;
}

.headser {
    position: relative;
    padding: 50px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headser::before {
    content: 'SERVICE';
    font-weight: 900;
    position: absolute;
    font-size: 6rem;
    color: rgb(0 0 0 / 13%);
    white-space: nowrap;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 42%;
    pointer-events: none;
    z-index: 1;
}

.headser h2 {
    position: relative;
    font-size: 2em;
    color: #333;
    z-index: 2;
    padding: 0 20px;
    display: inline-block;
}

/*service sec*/

/*expert team*/

.card-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 291px;
    background-color: #ebebeb !important;
    height: 361px;
    background: url("img/team.png");
    background-size: cover;
    border: 1px solid #ccc;
    overflow: hidden;
}

.bgbox {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    justify-content: space-around;
    align-items: flex-end;
}

.bgbox h4 {
    background-color: #fefefe;
    width: 100%;
    font-weight: 600;
    text-align: center;
    padding: 14px;
}

.card__description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    z-index: 45;
    padding: 1em;
    background: #ffff00;
    color: #fefefe;
    transition: top 0.5s ease-in-out;
}

.expcard-flex {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    margin-bottom: 38px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card__description > p {
    transform: translateY(-3em);
    opacity: 0;
}

.card:hover .card__description {
    top: 0;
}

.card:hover .card__description > p {
    animation: slide_ltr 0.4s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes slide_ltr {
    0% {
        transform: translateY(-3em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

.expert-sec {
    margin-top: 89px;
    height: 100%;
    width: 100%;
}

.exphead {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    text-align: center;
    padding: 4px 4px 4px 4px;
    justify-content: center;
    align-content: center;
}

hr.dotted {
    border-style: dotted;
    color: #a1a4a7;
}

p.resix {
    font-size: 19px;
    color: #000000b0;
    font-weight: 500;
    margin-bottom: 3px;
}

p.role {
    margin-top: 11px;
    font-size: 14px;
    text-align: center;
    color: #808080bd;
}

.card p {
    text-align: center;
}

h2.tophid {
    margin-top: 41px;
    margin-bottom: 13px;
    text-align: center;
    font-size: 22px;
    color: #000000b0;
    font-weight: 500;
}

p.hovp {
    color: #0009;
    font-size: 14px;
}

.social-flex {
    display: flex;
    gap: 9px;
    color: #000000b0;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 119px;

}

hr.dotted.new {
    position: relative;
    top: 114px;
    bottom: 0;
}

.exphead {
    position: relative;
    text-align: center;
    margin: 50px 0;
}

.exphead::before {
    content: 'EXPERT';
    font-weight: 900;
    position: absolute;
    font-size: 6rem;
    color: rgba(0, 0, 0, 0.13);
    white-space: nowrap;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 23%;
    pointer-events: none;
    z-index: 1;
    transition: all 0.3s ease;
}

.exphead h2 {
    position: relative;
    font-size: 2em;
    color: #333;
    z-index: 2;
    padding: 0 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

.cent {
    text-align: center;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 16px;
    color: #808080bd;
}

/*expert team*/

/*news start*/

section.news {
    margin-top: 45px;
    height: 100%;
    width: :100%
}

.news-head {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.centbut :hover {
    background-color: #ffe600;
}

.news-card1 {
    width: 333px;
    padding: 33px;
}

.news1 {
    width: 294px;
    height: 531px;
    margin-bottom: 34px;
    padding: 4px 4px 4px 4px;
}

.newsitem img {
    height: 100%;
    width: 100%;
}

.cardtit h3 {
    font-size: 26px;
    color: #000000b8;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase
}

.cardsm h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #b8b8b8a1;
}

.carddes p {
    padding: 20px;
}

.centbut {
    text-align: center;
}

.centbut p {
    background-color: #b8b8b854;
    display: inline-block;
    padding: 7px 16px;
    border-radius: 34px;
}

.bottompart {
    margin-bottom: 12px;
    margin-top: 24px;
}

.cardsm {
    margin-top: 19px;
}

button.newsbu {
    background-color: #b8b8b854;
    display: inline-block;
    padding: 8px 19px;
    font-size: 14px;
    border-radius: 34px;
    border: none;
}

.date p {
    font-size: 13px;
    padding: 8px 15px;
    font-weight: 600;
}

.newsitem {
    margin-bottom: 48px;
    position: relative;
}

.date {
    position: absolute;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transform: translate(94px, -22px);
    background-color: #fefefe;
    border-radius: 34px;
}

.news-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.news-section {
    margin-top: 11px;
}

.containernews {
    max-width: 1854px;
    /* padding: 4px 10px 6px 27px; */
    padding: 4px 27px 6px 27px;
    /* padding: 20px 70px; */
    overflow: hidden;
    margin: auto;
}

.news-head {
    position: relative;
    text-align: center;
    margin: 40px 0;
    padding: 20px 0;
}

.news-head::before {
    content: 'NEWS';
    font-weight: 900;
    position: absolute;
    font-size: 6rem;
    color: rgba(0, 0, 0, 0.13);
    white-space: nowrap;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 33%;
    pointer-events: none;
    z-index: 1;
    transition: all 0.3s ease;
}

.news-head h2 {
    font-size: 2em;
}

.newsitem img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    scale: 0.99;
}

/*news start*/


/*footer*/
footer {
    background-color: #353a40;
    color: white;
    text-align: center;
    padding: 22px;
}

a.hih {
    color: #ffff00;
    font-family: math;
    font-size: 18px;
}

/*footer*/

/*preloader*/
#preloader {
    background: white url("img/7.gif") no-repeat center center;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/*cursor*/
.circle {
    width: 40px;
    height: 40px;
    position: fixed;
    border: 1px solid #000;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    z-index: 9999;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}